html {
    font-family: Garamond;
}
body {
    text-align: center;
    top: 0;
    bottom: 0;
}
header {
    top: 0;
}
header, footer {
    position: absolute;
    left: 0;
    background-color: #4285f4;
    width: 100%;
    margin: 0;
    font-weight: bold;
}
header nav {
    position: relative;
    margin-top: 12px;
}
a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.content {
    position: relative;
    top:80px;
}
table {
    margin: auto auto auto auto;
    border-spacing: 50px 0;
}
form {
    display: inline block;
}
header {
    bottom: 0;
    height: 80px;
}
footer {
    bottom: 0;
    height: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }