html{
    font-family: Garamond;
}
body
{
    text-align: center;
    top: 0;
    bottom: 0;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #4285f4;
    width: 100%;
    margin: 0;
    font-weight: bold;
}
nav{
    position: relative;
    margin-top: auto;
}
a
{
    color: black;
    font-size: 20px;
    text-decoration: none;
    
}
.content{
    position: relative;
    top:50px;
}
table{
    margin: auto auto auto auto;
    border-spacing: 50px 0;
}
form{
    display: inline block;
}