<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MyProject">
        <title>MyProject - Create and Manage Projects</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a> ||
            <a href="/notes">My Projects</a> ||
            <a href="/notes/new">Add Project</a>
        </nav>
        <!--<h1>Welcome {{user.name}} to MyProject!</h1>-->
        <h1>Welcome to MyProject!</h1>

        <h2>With MyProject, you can create, edit and colloborate on projects!</h2>

        <nav> <a href="/projects">My Projects</a> </nav>

    </body>
</html>