<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MyProject">
        <title>MyProject - Create New Project</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <a href="/"><div class = "logo">
                <p>My<span style="color:blue;"><b>Project</b></span></p>
            </div></a>
            <nav>
                <a href="/">Home</a> ||
                <a href="/projects">Projects</a> ||
                <a href="/projects/new">Add Project</a>
            </nav>
        {% if user %}
            <nav>
                <a href="{{ url_for('account') }}">Account</a> ||
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}">Sign In</a> ||
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}
        </header>
        <div class=content>
        <h1>Welcome {% if user %}{{user}}{% endif %} to MyProject!</h1>

    {% if project %}
        <form action="{{ url_for('update_project', project_id=project.id) }}" method="post">
    {% else %}
        <form action="new" method="post">
    {% endif %}
            <p><label>Project Name</label></p>
            <p><input type="text" name="title" value='{% if project %}{{project.title}} {% endif %}'/></p>
            <p><label>Text</label></p>
            <p>
                <textarea name="projectText"  rows="6" cols="0" >
                    {% if project %}
                        {{project.text}}
                    {% else %}
                        Add project details here
                    {% endif %}
                </textarea>
            </p>
            {% if project %}
            <p>
                {% if project.imageUrl %}
                    <input type="text" value='{{project.imageURL}}'/>
                {% else %} 
                    <input type="text" placeholder="Add Image URL"/>
                {% endif %}
            </p>
            {% endif %}
            <p>
                {% if project %}
                    <input type="submit" value="Update Project"/>
                {% else %} 
                    <input type="submit" value="Add Project"/>
                {% endif %}
            </p>
        </form>
    </div>
    <footer>
    </footer>
    </body>
</html>