<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MyProject">
        <title>MyProject - View All Projects</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a> ||
                <a href="/projects">My Projects</a> ||
                <a href="/projects/new">Add Project</a>
            </nav>
        {% if user %}
            <nav>
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}">Sign In</a> ||
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}
        </header>

    <div class=content>
        <h1>Welcome {% if user %}{{user}}{% endif %} to MyProject!</h1>



        <h1>My Projects</h1>
        {% for project in projects%}
        {% if project.manager == user: %} 
        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Project Manager</th>
            </tr>
            <tr>
                <td><a href="{{ url_for('get_project', project_id=project.id) }}">{{ project.title }}</a></td>
                <td>{{ project.date }}</td>
                <td>{{ project.manager }}</td>

                <td><a href="{{ url_for('update_project', project_id=project.id)}}">Edit</a></td>
                <td>
                    <form action="{{ url_for('delete_project', project_id=project.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr> 
        </table>
        {% endif %}
        {% endfor %}

        <h1>All Projects</h1>
        {% for project in projects%}
        {% if project.manager != user: %} 
        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Project Manager</th>
            </tr>
            <tr>
                <td><a href="{{ url_for('get_project', project_id=project.id) }}">{{ project.title }}</a></td>
                <td>{{ project.date }}</td>
                <td>{{ project.manager }}</td>

                <td><a href="{{ url_for('update_project', project_id=project.id)}}">Edit</a></td>
                <td>
                    <form action="{{ url_for('delete_project', project_id=project.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr> 
        </table>
        {% endif %}
        {% endfor %}
    </div>
    <footer>
    </footer>
    </body>
</html>