<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MyProject">
        <title>MyProject - View Project</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <a href="/"><div class = "logo">
                <p>My<span style="color:blue;"><b>Project</b></span></p>
            </div></a>
            <nav>
                <a href="/">Home</a> ||
                <a href="/projects">My Projects</a> ||
                <a href="/projects/new">Add Project</a>
            </nav>
        {% if user %}
            <nav>
                <a href="{{ url_for('account') }}">Account</a> ||
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}">Sign In</a> ||
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}
        </header>
    <div class=content>
        <h1>Welcome {% if user %}{{user}}{% endif %} to MyProject!</h1>
        <h1>Project Details</h1>
        
        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
                <th>Project Manager</th>
            </tr>
            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.text }}</td>
                <td>{{ project.date }}</td>
                <td>{{ project.manager }}</td>
            </tr>
        </table>
        
        {% if project.imageUrl != "" %}
            <img src={{project.imageURL}} alt="Project Image">
        {% endif %}

        {%if project.comments %}
            {% if project.comments|length > 0 %}
                <h2>Tasks / Comments</h2>
                <ul>
                {% for comment in project.comments %}
                     <li>{{ comment.content }} - {{ comment.user_name }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <form action="{{ url_for('new_comment', project_id=project.id) }}" method="post">
        <div class="formwrapper">
            <h2 class="title">Add a comment</h2>
                <div class="form-field">
                    {{ form.comment.label }} <br/> {{ form.comment }}
                </div>
            {{ form.submit }}
        </div>
    </div>
    <footer>
    </footer>
    </body>
</html>